body {
    background: #332e4e;
}

h1 {
    text-align:center;
    margin-top: calc(50vh - 20px);
    color: white;
    font-family: 'Roboto', sans-serif;
}
p {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}